.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    background: #f8df00;
    border-radius: 0.8rem;
    color: black;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;

    &:focus {
        outline: none;
    }

    &:hover,
    &:active {
        background: black;
        color: white;
    }

    &:disabled,
    &:hover:disabled,
    &:active:disabled {
        background: #ccc;
        color: #979797;
        border-color: #ccc;
        cursor: not-allowed;
    }
}

.button--small {
    font-size: 0.8rem;
}

.button--big {
    font-size: 1.5rem;
}

.button--inverse {
    background: transparent;
    color: #ff0055;
    border: 1px solid #ff0055;

    &:hover,
    &:active {
        background: #ff0055;
        color: white;
    }
}

.button--danger {
    background: #f34343;
    color: white;
    border: none;

    &:hover,
    &:active {
        background: #830000;
    }
}
